h1{
    color: chartreuse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 2px;
    border: 2px dotted black;
}

p{
    color: cornflowerblue;
    font-size: 20px;
    border: 5px double;
}

.heading{
    color: red;
}

.heading2{
    background-color: aqua;
}